.m-table{
    /* border: 1px solid red; */
   
   display: flex;
   flex-direction: column;
   margin-bottom: 32px;
   
}

.m-info{
    width: 400px;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    h4{
        margin: 6px;
        width: 150px;
    }
}



span{
    width: 100px;
    /* border: 1px solid green; */
}