.footer{
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 32px 100px;
    color: var(--textsecondaryondark);
}

.left a{
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.left img{
    width: 80px;
    border-radius: 50%;
}

.right{
    display: flex;
    align-items: center;
    justify-content: space-between;

    span{
    margin-left: 12px;
    }
}

@media(max-width:800px){
    .footer{
        flex-direction: column;
    }
    .right{
        align-items: baseline;
        flex-direction: column;
        span{
            margin-bottom: 12px;
        }
    }
}