.navbar {
  /* border: 1px solid red; */
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
color: var(--textsecondaryondark);
  padding: 0 100px;

  background-color: var(--primary);
}

  li, a {
    text-decoration: none;
  margin-right: 24px;
  color: inherit;
  display: inline;
  cursor: pointer;

  &:hover{
    color: var(--textondark);
  }
  &.active{
  color: white;
  }
}



.nv-btn{
  background: transparent;
  border: none;
  color: inherit;
  display: none;
  visibility: hidden;
  opacity: 0;
  font-size: 32px;
}


ul{
  display: flex;
  align-items: center;
}

@media (max-width:940px) {
.navbar{
   padding: 0 16px;
}

  .nv-btn{
    visibility: visible;
    opacity: 1;
    display: block;
  }
  ul{
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   display: flex;
   background-color:rgb(0, 0, 0);
   flex-direction: column;
   gap: 2rem;
   align-items:first center;
   justify-content: center;
   transition: 1s;
   transform: translateY(-100vh);
   z-index: 1000;
  }
ul.responsive_nav{
  transform: none;
}
ul .close{
position: absolute;
top: 3rem;
right: 3em;
z-index: 1000;
}

}